.app-action {
  position: absolute;
  right: 30px;
  top: 35px;
}

.sidenav-layout {
  height: calc(100% - 64px);
}

.sidenav {
  padding: 10px;
}

.sidenav-close-button {
  display: block;
  margin: auto;
}