<md-nav-list class="md-list">
  <!--<h3 md-subheader>Folders</h3>-->
  <md-list-item>
    <md-icon md-list-avatar class="icon">playlist_add_check</md-icon>
    <h4 md-line>Task Manager</h4>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <md-icon md-list-avatar class="icon">inbox</md-icon>
    <h4 md-line>Inbox</h4>
    <p md-line class="second-line">10 elements</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-avatar class="icon">forward</md-icon>
    <h4 md-line>Next</h4>
    <p md-line class="second-line">10 elements</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-avatar class="icon">weekend</md-icon>
    <h4 md-line>Waiting</h4>
    <p md-line class="second-line">10 elements</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-avatar class="icon">next_week</md-icon>
    <h4 md-line>Someday</h4>
    <p md-line class="second-line">10 elements</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <md-icon md-list-avatar class="icon">star</md-icon>
    <h4 md-line>Focus</h4>
    <p md-line class="second-line">5 elements</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <md-icon md-list-avatar class="icon">done</md-icon>
    <h4 md-line>Completed</h4>
    <p md-line class="second-line">35 elements</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <md-icon md-list-avatar class="icon">delete</md-icon>
    <h4 md-line>Trash</h4>
    <p md-line class="second-line">25 elements</p>
  </md-list-item>
</md-nav-list>