.task-list-item {
    height: 50px;
    align-items: center;
    display: flex;
}

.separator {
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.task-list-item-content {
    font-size: 16px;
    float: left;
    width: 100%;
}

.task-list-item-menu {
    float: right;
}