<div [ngClass]="setClasses()">
  <div class="task-list-item-content">
    <md-checkbox>{{task.description}}</md-checkbox>
  </div>
  
  <div class="task-list-item-menu">
    <!-- Menu -->
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="info()">
        <md-icon>info</md-icon>
        <span>Info</span>
      </button>
      <button md-menu-item (click)="edit()">
        <md-icon>mode_edit</md-icon>
        <span>Edit</span>
      </button>
      <button md-menu-item (click)="delete()">
        <md-icon>delete_forever</md-icon>
        <span>Delete</span>
      </button>
    </md-menu>
  </div>
</div>